// :: Color vars ---------------------------------------------------------------

$red : rgb(191,97,106);
$turquoise : rgb(2,152,150);


// :: Global -------------------------------------------------------------------

$root-bg-color : $white;
$text-color    : rgb(60,91,94);


// :: Links --------------------------------------------------------------------

$link-color          : $turquoise;
$disabled-link-color : rgb(79,81,102);
